<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseLanguage</key>
	<string>zh-Hans</string>
	<key>constChangedAlert</key>
	<true/>
	<key>constPattern</key>
	<string>^[a-zA-Z_][0-9a-zA-Z_]+$</string>
	<key>fileInfos</key>
	<dict>
		<key>/SuperVisual/Resources/Localizable.strings</key>
		<dict>
			<key>parseAsLocalizedKey</key>
			<true/>
			<key>relatedConstFilePath</key>
			<string>/SuperVisual/Resources/Localizable.swift</string>
		</dict>
	</dict>
	<key>fileRegions</key>
	<array/>
	<key>keyChangedAlert</key>
	<true/>
	<key>keyPattern</key>
	<string>^[a-zA-Z0-9\.\-_]+$</string>
	<key>keyPrefix</key>
	<string>com.auu.localization.</string>
	<key>localizedMethods</key>
	<dict>
		<key>oc</key>
		<array/>
		<key>swift</key>
		<array/>
	</dict>
	<key>removeWhiteChars</key>
	<true/>
	<key>showSyncCreate</key>
	<true/>
</dict>
</plist>
